<li class="mach__people-li">
    <div class="mach__people-item">
        <img class="mach__people-icon" src="{{image_list.[0]}}" alt="icon" 
            data-lat="{{geo_location.lat}}"
            data-lng="{{geo_location.lng}}">
        <div class="mach__people-main">
            <div class="mach__people-name">{{full_name}}</div>
            <div class="mach__people-age">Age: {{age}}</div>
            <div class="mach__people-cell">Cell: {{phone_number}}</div>
        </div>
    </div>
</li>